# AWE Dataset
/data/

# Training state
/out/*

# Include final training state
!/out/model-*
/out/model-*/*
!/out/model-*/*.pkl
!/out/model-*/*.tf.*

# Python
__pycache__/

# Evaluation outputs (run `evaluation.py`)
/figures/
